/* http://www.w3schools.com/cssref/css_selectors.asp */

@statusHeight: 73px;
@placeholderOpacity: 0;

* {
  	padding: 0px;
	margin: 0px;
	border: 0px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    body {
        background: #000;
        color: #FFF;
        overflow: hidden;
        position: absolute;
        padding: 0px;
        margin: 0px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        a:link { color:white; text-decoration:none; }
        a:visited { color:white; text-decoration:none; }
        a:focus { color:red; text-decoration:underline; }
        a:hover { color:green; text-decoration:none; }
        a:active { color:white; text-decoration:none; }

        > #videoBox {
            &.videoBoxSmall {
                position: absolute;
                left: 75%;
                right: 0px;
                height: 162px;
                bottom: @statusHeight;
                margin: 1px 2px 1px 1px;
                background: rgba(64, 128, 255, 0.9);
                color : #FFF;
            }

            > #video {
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                width: 100%;
                height: 100%;
                max-width: 100%;
                max-height: 100%;
            }
        }

        > #browsePlaceholder {
            position: absolute;
            top: 0px;
            bottom: @statusHeight;
            left: 0px;
            right: 25%;
            background: white;
            opacity: @placeholderOpacity;
        }

        > #browse {
            #browsePlaceholder;
            margin: 2px 1px 1px 2px;
            overflow-y: scroll;
            overflow-x: hidden;
            background: rgba(64, 128, 255, 0.9);
            opacity: 1;

            > .tileBox {
                position: relative;
                float: left;
                height: 25%;
                width: 25%;

                > .tile {
                    &.sel {
                        border: 2px solid white;
                    }

                    position: absolute;
                    top: 1px;
                    left: 1px;
                    right: 1px;
                    bottom: 1px;
                    border: 2px solid black;

                    > .img {
                        position: absolute;
                        background: #00F;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        width: 100%;
                        height: 100%
                    }

                    > .cap {
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        right: 0px;
                        background: #000;
                        background: rgba(0, 0, 0, 0.5);
                        padding: 10px;
                        text-align: center;
                    }

                    > .play {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        right: 0px;
                        background: #000;
                        background: rgba(0, 0, 0, 0.5);
                        padding: 10px;
                        text-align: center;
                    }
                }
            }
        }

        > #playlistPlaceholder {
            position: absolute;
            top: 0px;
            bottom: @statusHeight + 164px;
            left: 75%;
            right: 0px;
            padding: 10px;
            background: white;
            opacity: @placeholderOpacity;
        }

        > #playlist {
            #playlistPlaceholder;
            margin: 2px 2px 1px 1px;
            overflow-y: scroll;
            background: rgba(64, 128, 255, 0.9);
            opacity: 1;

            > div {
                &.sel {
                    border: 2px solid white;
                }

                margin: 5px 0px 0px 0px;

                &.file {
                    color : #FFF;
                }

                &.folder {
                    color : #FF0;
                }
            }
        }

        > #statusPlaceholder {
	        position: absolute;
            padding: 10px;
	        bottom: 0px;
	        height: @statusHeight - 20px;
	        right: 0px;
            left: 0px;
            background: white;
            opacity: @placeholderOpacity;
        }

        > #status {
            #statusPlaceholder;
            margin: 1px 2px 2px 2px;
            height: @statusHeight - 20px - 3px;
            background: rgba(64, 128, 255, 0.9);
            color: black;
            opacity: 1;

            > #statusInner {
                position: relative;
                width: 100%;
                height: 100%;
                font-weight: bold;

                > #position {
                    position: absolute;
                    height: 20px;
                    top: 30px;
                    left: 0px;
                    width: 100px;
                }

                > #duration {
                    position: absolute;
                    height: 20px;
                    top: 30px;
                    right: 216px;
                    width: 100px;
                    text-align: right;
                }

                > #positionSliderBox {
                    position: absolute;
                    left: 0px;
                    right: 216px;
                    top: 0px;
                    height: 20px;

                    > #positionSlider {
                        left: 0px;
                        height: 100%;
                        width: 100%;
                    }
                }

                > #controls {
                    position: absolute;
                    height: 50px;
                    right: 0px;
                    top: 0px;
                    width: 208px;

                    > div {
                        position: relative;
                        float: left;
                        margin: 0px 0px 0px 2px;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        font-size: 30px;
                        font-weight: bold;
                        background: grey;
                        text-align: center;
                        vertical-align: middle;
                    }
                }

                > #title {
                    position: absolute;
                    top: 30px;
                    height: 20px;
                    left: 100px;
                    right: 316px;
                    font-weight: bold;
                }
            }
        }
    }
}

